@import "tailwindcss";
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.banner{
    max-width: 1600px;
    background-image: url(./images/banner/banner3.png);
    margin: 0 auto;
    padding: 216px;
    padding-left: 845px;
}
.banner-content{
    width: 525px;
    text-align: right;

}