@import "tailwindcss";
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.banner{
    max-width: 1600px;
    background-image: url(./images/banner/banner3.png);
    margin: 0 auto;
    padding: 216px;
    padding-left: 845px;
}
.banner-content{
    width: 525px;
    text-align: right;

}
.failure-container p, .plan-card p{
  color: #444343;
  padding-top: 16px;
}
.gradient{
  width: 100%;
  max-width: 1140px;
   background-image:url(./images/gradient1.png), url(./images/watch.png);
   background-repeat: no-repeat, no-repeat;
   margin: 0 auto;
   padding-block: 59px;
   padding-left: 64px;
   border-radius: 8px;
   padding-bottom: 8rem;
}